body {
    background-color: darkslategray;
    padding-left: 20px;
}

.wrapper {
    height: 400px;
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.line1 {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line2 {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line3 {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-top: 20px;
}

.big {
    height: 40px;
}

.small {
    height: 40px;
}

input {

    margin-right: 10px;
    height: 20px;
    width: 100px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    text-align: center;
    box-shadow: 0 0 10px rgb(218, 233, 6);
}

.out {
    width: 255px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 10px rgb(218, 233, 6);
    color: black;
    font-weight: 900;
    font-size: 30px;
    line-height: 32px;

}

button {
    margin-top: 10px;
    height: 50px;
    width: 255px;
    border: none;
    border-radius: 4px;
    background-color: rgb(92, 7, 7);
    cursor: pointer;
    box-shadow: 0 0 10px rgb(218, 233, 6);
    padding: 10px;
    font-size: 20px;
    font-weight: 900;
    color: #fff;
}